* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "fredoka", sans-serif;
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 14%;

}

.logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 25px;
    transition: all .42s;

}

.navlist a:hover {
    color: #f379a7;
}

.top-icon {
    display: flex;
    align-items: center;
}

.top-icon a {
    color: #000;
    font-size: 28px;
    margin: 0 6px;
    transition: all .42s;
}

.top-icon a:hover {
    color: #f379a7;
}

#menu-icon {
    color: #000;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;


}


section {
    padding: 60px 14%;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: #c2e0eb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;

}


.home-img {
    position: relative;
    width: 100%;
    height: auto;
}

.home-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    padding-top: 25px;
    animation-name: slide;
    animation-duration: 3s;

}


@keyframes slide {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-15px);
    }

    0% {
        transform: translateY(0px)
    }
}

.home-text h1 {
    color: #252525;
    font-size: 65px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.16;
    margin-bottom: 15px;
}

.home-text h4 {
    color: #252525;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.home-btn a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #f379a7;
    padding: 15px 35px;
    border-radius: 30px;
    transition: all .42s;
}

.home-btn a:hover {
    background-color: #0d6efd;
}


header.sticky {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .42s;
}

.pro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
}

.pro-img img {
    max-width: 100%;
    width: 150px;
    height: 180px;
}

.pro-1 {
    display: flex;
    background: #fcdcea;
    padding: 20px 20px;
    gap: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .42s;
}

.pro-1:hover {
    background: #e4e6fe;
}

.pro-text h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pro-text h5 {
    color: #000;
    font-size: 20px;
    margin-bottom: 90px;
}


.pro-text h6 {
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .42s;
}

.pro-text h6:hover {
    text-decoration: underline;
}


.main-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.about-center {
    text-align: center;
}

.about-center h1 {
    color: #f379a7;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}


.about-center h5 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 80px;
}

.about-img img {
    max-width: 100%;
    width: 550px;
    height: auto;
}

.about-center h4 {
    color: #f379a7;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about-text h2 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 20px;
}

.about-text p {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.product-text {
    text-align: center;
}


.product-text h1 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}


.product-text p {
    max-width: 530px;
    color: #2d2d2d;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin: 0px auto 40px;

}


.product-sector a {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
    border: 2px solid #e5e5e5;
    padding: 10px 25px;
    border-radius: 21px;
    display: inline-flex;
    margin-bottom: 90px;
    transition: .42s;

}

.product-sector .sec-dif {
    color: #fff;
    background: #f379a7;
    border: 2px solid #f379a7;

}


.product-sector a:hover {
    color: #fff;
    background: #f379a7;
    border: 2px solid #f379a7;

}

.main-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
}


.main-pro {
    position: relative;
    padding: 40px 20px;
    background-color: #e4e6fe;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all .42s;
}

.main-pro img {
    max-width: 100%;
    width: 180px;
    height: 200px;
    margin-bottom: 40px;
}

.rating a {
    color: #eede00;
    font-size: 16px;
}

.main-pro h4 {
    color: #383a3a;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 8px 0 12px 0;

}

.main-pro h5 {
    color: #3b3a3a;
    font-size: 18px;
    font-weight: 600;
}

.main-pro:hover {
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.deal {
    width: 100%;
    height: 70vh;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main-deal h1 {
    color: #000;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.main-deal h4 {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;

    margin-bottom: 60px;
}


.main-deal h4 span {
    color: #f379a7;
}


.main-disc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    padding-top: 50px;
}

.dics-1 {
    position: relative;
}

.dics-1 img {
    max-width: 100%;
    width: 100%;
    height: auto;
    transition: all .42s;
}

.dics-img {
    overflow: hidden;

}


.dics-text {
    position: absolute;
    top: 20%;
    right: 10%;
}


.dics-text h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.dics-text h4 span {
    font-size: 30px;
}


.dics-1 img:hover {
    transform: scale(1.1);
}


.trend-center {
    text-align: center;
}

.trend-center h1 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}


.trend-center p {
    max-width: 530px;
    color: #2d2d2d;
    font-size: 17px;
    line-height: 28px;
    margin: 0px auto 80px;
}

.blog-center {
    text-align: center;
}

.blog-center h1 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}


.blog-center p {
    max-width: 530px;
    color: #2d2d2d;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px auto 50px;
}

.blog-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
}

.main-blog {
    overflow: hidden;
}


.main-blog img {
    max-width: 100%;
    width: 350px;
    height: auto;
    cursor: pointer;
    transition: all .42s;
}


.main-blog img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}

.main-blog h4 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 12px 0px 15px 0;
}


.main-blog h1 {
    color: #424242;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 30px;
}


.main-blog .btn {
    background: #95b3b0;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .42s;
}


.main-blog .btn:hover {
    background: #f379a7;
}